<include file="Public:header" />

<div class="col-xs-12 col-sm-9 col-lg-10">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">账号概况 - 平台相关数据</a></li>
  </ul>
  <div class="clearfix welcome-container">
    <div class="page-header">
      <h4><i class="fa fa-plane"></i> 快捷操作</h4>
    </div>
    
    
    <div class="shortcut clearfix"> 
    <a href="#"> <i class="fa fa-weixin"></i> <span>粉丝列表</span> </a> 
    <a href="#"> <i class="fa fa-users"></i> <span>会员列表</span> </a> 
    <a href="#"> <i class="fa fa-database"></i> <span>会员日志</span> </a> 
    <a href="#"> <i class="fa fa-comments"></i> <span>会员反馈</span> </a> 
    <a href="#"> <i class="fa fa-reorder"></i> <span>装修贷订单</span> </a> 
    <a href="#"> <i class="fa fa-reorder"></i> <span>咨询订单</span> </a> 
    <a href="#"> <i class="fa fa-reorder"></i> <span>家装订单</span> </a> 
    <a href="#" style="color:rgba(203,48,48,1);"> <i class="fa fa-users"></i> <span>管理员列表</span> </a> 
    <a href="#" style="color:rgba(203,48,48,1);"> <i class="fa fa-database"></i> <span>管理员日志</span> </a> 
    </div>


        <div class="panel panel-default" id="scroll" style="margin-top:20px;">
            <div class="panel-heading">
                今日关注指数
            </div>
            <div class="account-stat">
                <div class="account-stat-btn">
                    <div>今日新关注<span id="today_new">0</span></div>
                    <div>今日取消关注<span id="today_cancel">0</span></div>
                    <div>今日净增关注<span id="today_increase">0</span></div>
                    <div>累积关注<span id="today_cumulate">0</span></div>
                    <div>累积授权<span id="today_page_auth">0</span></div>
                    <div>会员注册<span id="today_member">0</span></div>
                </div>
            </div>
        </div>
            
        <div class="panel panel-default" id="scroll" style="margin-top:20px;">
            <div class="panel-heading">
                昨日关注指数
            </div>
            <div class="account-stat">
                <div class="account-stat-btn">
                    <div>昨日新关注<span id="yesterday_new">0</span></div>
                    <div>昨日取消关注<span id="yesterday_cancel">0</span></div>
                    <div>昨日净增关注<span id="yesterday_increase">0</span></div>
                    <div>累积关注<span id="yesterday_cumulate">0</span></div>
                    <div>累积授权<span id="yesterday_page_auth">0</span></div>
                    <div>会员注册<span id="yesterday_member">0</span></div>
                </div>
            </div>
        </div>    
    
    
<div class="panel panel-default">
	<div class="panel-heading">关注指数详解(周度)
	<a class="text-danger" href="/sys-index.php/Follow/index">查看更多</a>
    </div>
	<div class="panel-body">
		<div class="pull-right">
			<div class="checkbox" id="subscribe">
				<label style="color:#57B9E6;"><input checked type="checkbox"> 新关注人数</label>&nbsp;
				<label style="color:#00439d"><input checked type="checkbox"> 取消关注人数</label>&nbsp;
				<label style="color:rgba(149,192,0,1);"><input checked type="checkbox"> 净增人数</label>&nbsp;
				<label style="color:#e7a017;"><input type="checkbox"> 累积关注人数</label>
				<label style="color:#ff0000;"><input type="checkbox"> 会员注册</label>
			</div>
		</div>
		<div style="margin-top:20px">
			<canvas id="myChartSubscribe" width="1200" height="300"></canvas>
		</div>
	</div>
</div>
<script>
	require(['chart', 'daterangepicker'], function(c) {
		var chart_subscribe = null;
		var chart_datasets_subscribe = null;
		var templates_subscribe = {
			flow1: {
				label: '新关注人数',
				fillColor : "rgba(36,165,222,0.1)",
				strokeColor : "rgba(36,165,222,1)",
				pointColor : "rgba(36,165,222,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(36,165,222,1)",
			},
			flow2: {
				label: '取消关注人数',
				fillColor : "rgba(0,67,157,0.1)",
				strokeColor : "rgba(0,67,157,1)",
				pointColor : "rgba(0,67,157,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(0,67,157,1)",
			},
			flow3: {
				label: '净增人数',
				fillColor : "rgba(149,192,0,0.1)",
				strokeColor : "rgba(149,192,0,1)",
				pointColor : "rgba(149,192,0,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(149,192,0,1)",
			},
			flow4: {
				label: '累计人数',
				fillColor : "rgba(231,160,23,0.1)",
				strokeColor : "rgba(231,160,23,1)",
				pointColor : "rgba(231,160,23,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(231,160,23,1)"
			},
			flow5: {
				label: '会员注册',
				fillColor : "rgba(255,0,0,0.1)",
				strokeColor : "rgba(255,0,0,1)",
				pointColor : "rgba(255,0,0,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(255,0,0,1)"
			}			
		};

		function refreshDataSubscribe() {
			if(!chart_subscribe || !chart_datasets_subscribe) {
				return;
			}
			var visables = [];
			var i = 0;
			$('#subscribe input[type="checkbox"]').each(function(){
				if($(this).attr('checked')) {
					visables.push(i);
				}
				i++;
			});
			var ds = [];
			$.each(visables, function(){
				var o = chart_datasets_subscribe[this];
				ds.push(o);
			});
			chart_subscribe.datasets = ds;
			chart_subscribe.update();
		}

		var url = '{:U("Index/ajaxSearch/tcop/subscribe")}';
		$.post(url, function(data){
			//今日关注指数
			$("#today_new").html(data.today_datasets.new);
			$("#today_cancel").html(data.today_datasets.cancel);
			$("#today_increase").html(data.today_datasets.increase);
			$("#today_cumulate").html(data.today_datasets.cumulate);
			$("#today_page_auth").html(data.today_datasets.page_auth);
			$("#today_member").html(data.today_datasets.member);
			//昨日关注指数
			$("#yesterday_new").html(data.yesterday_datasets.new);
			$("#yesterday_cancel").html(data.yesterday_datasets.cancel);
			$("#yesterday_increase").html(data.yesterday_datasets.increase);
			$("#yesterday_cumulate").html(data.yesterday_datasets.cumulate);
			$("#yesterday_page_auth").html(data.yesterday_datasets.page_auth);
			$("#yesterday_member").html(data.yesterday_datasets.member);
						
			//关注指数详解
			var datasets = data.datasets;
			if(!chart_subscribe) {
				var label = data.label;
				var ds = $.extend(true, {}, templates_subscribe);
				ds.flow1.data = datasets.new;
				ds.flow2.data = datasets.cancel;
				ds.flow3.data = datasets.increase;
				ds.flow4.data = datasets.cumulate;
				ds.flow5.data = datasets.member;
				var lineChartData = {
					labels : label,
					datasets : [ds.flow1, ds.flow2, ds.flow3, ds.flow4, ds.flow5]
				};
				var ctx = document.getElementById("myChartSubscribe").getContext("2d");
				chart_subscribe = new Chart(ctx).Line(lineChartData, {
					responsive: true
				});
				chart_datasets_subscribe = $.extend(true, {}, chart_subscribe.datasets);
			}
			refreshDataSubscribe();
		});

		$('#subscribe input[type="checkbox"]').on('click', function(){
			$(this).attr('checked', !$(this).attr('checked'))
			refreshDataSubscribe();
		});
	});
</script>    
    

<div class="panel panel-default">
	<div class="panel-heading">家装订单指数详解(月度)
    <a class="text-danger" href="/sys-index.php/HdOrder/index">查看更多</a>
    </div>
	<div class="panel-body">
		<div class="pull-right">
			<div class="checkbox" id="hd_order">
				<label style="color:#57B9E6;"><input checked type="checkbox"> 咨询</label>&nbsp;
				<label style="color:rgba(149,192,0,1);"><input checked type="checkbox"> 订单</label>&nbsp;
				<label style="color:rgba(203,48,48,1)"><input type="checkbox"> 售后</label>&nbsp;
			</div>
		</div>
		<div style="margin-top:20px">
			<canvas id="myChartHdOrder" width="1200" height="300"></canvas>
		</div>
	</div>
</div>
<script>
	require(['chart', 'daterangepicker'], function(c) {
		var chart_hd_order = null;
		var chart_datasets_hd_order = null;
		var templates_hd_order = {
			flow1: {
				label: '咨询',
				fillColor : "rgba(36,165,222,0.1)",
				strokeColor : "rgba(36,165,222,1)",
				pointColor : "rgba(36,165,222,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(36,165,222,1)",
			},
			flow2: {
				label: '订单',
				fillColor : "rgba(149,192,0,0.1)",
				strokeColor : "rgba(149,192,0,1)",
				pointColor : "rgba(149,192,0,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(149,192,0,1)",
			},
			flow3: {
				label: '售后',
				fillColor : "rgba(203,48,48,0.1)",
				strokeColor : "rgba(203,48,48,1)",
				pointColor : "rgba(203,48,48,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(203,48,48,1)",
			}			
		};

		function refreshDataHdOrder() {
			if(!chart_hd_order || !chart_datasets_hd_order) {
				return;
			}
			var visables = [];
			var i = 0;
			$('#hd_order input[type="checkbox"]').each(function(){
				if($(this).attr('checked')) {
					visables.push(i);
				}
				i++;
			});
			var ds = [];
			$.each(visables, function(){
				var o = chart_datasets_hd_order[this];
				ds.push(o);
			});
			chart_hd_order.datasets = ds;
			chart_hd_order.update();
		}

		var url = '{:U("Index/ajaxSearch/tcop/hdorder")}';
		$.post(url, function(data){
			//关注指数详解
			var datasets = data.datasets;
			if(!chart_hd_order) {
				var label = data.label;
				var ds = $.extend(true, {}, templates_hd_order);
				ds.flow1.data = datasets.hd_application;
				ds.flow2.data = datasets.hd_order;
				ds.flow3.data = datasets.hd_order_service;
				var lineChartData = {
					labels : label,
					datasets : [ds.flow1, ds.flow2, ds.flow3]
				};
				var ctx = document.getElementById("myChartHdOrder").getContext("2d");
				chart_hd_order = new Chart(ctx).Line(lineChartData, {
					responsive: true
				});
				chart_datasets_hd_order = $.extend(true, {}, chart_hd_order.datasets);
			}
			refreshDataHdOrder();
		});

		$('#hd_order input[type="checkbox"]').on('click', function(){
			$(this).attr('checked', !$(this).attr('checked'))
			refreshDataHdOrder();
		});
	});
</script>    



   
    <div class="account">
      <div class="panel panel-default row">
        <div class="panel-body">
          <div class="clearfix">
            <div class="col-sm-7">
              <p> 
              <strong>{:L('PROJECT_NAME')}</strong> 
              <span class="label label-success" style="display:inline-block; margin-right:10px;"> 授权使用中 </span> 
              </p>
              
              <p><strong>授权链接： </strong> http://www.xxx.com/do?g=api&amp;m=auth&amp;a=index</p>
              <p><strong>授权码： </strong> <a href="javascript:;" title="点击复制Token" style="color:#66667C;">omJNpZEhZeHj1ZxFECKkP48B5VFbk1HP</a></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<include file="Public:footer" /> 