<include file="Public:header" />

<div class="col-xs-12 col-sm-9 col-lg-10"> 
  <include file="Public:common-current" />
  <div lass="clearfix welcome-container">
    <div class="row">
      <div class="clearfix template">
        <div class="panel panel-default">
		  <include file="Public:index-list-button" />

                 <div class="panel-body">
                  <form name="LQForm" id="LQForm" method="post" enctype="multipart/form-data" class="form-horizontal form">
                    <input type="hidden" name="LQF[id]" id="id" value="{$LQFdata.id}" />
                    <ul id="LQFormTab" class="nav nav-tabs">
                      <li class="active"><a href="#formTab1" data-toggle="tab">认证信息</a></li>
                    </ul>
                    <div id="LQFormTabContent" class="tab-content">
                      <div class="tab-pane in active" id="formTab1">
                        <div class="form-group" id="form_group_zc_action_key">
                          <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>老师资格证</label>
                          <div class="col-sm-6 col-md-8 col-xs-12">
                            <input type="text" class="form-control" placeholder="请输用户帐号" id="zc_account" name="zc_account" value="{$LQFdata.zc_account}">
                            <span class="help-block">用户帐号</span></div>
                        </div>
                        
                        <div class="form-group" id="form_group_zc_action_key">
                          <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>身份证</label>
                          <div class="col-sm-6 col-md-8 col-xs-12">
                            <input type="password" class="form-control" placeholder="请输用户密码" id="zc_password" name="LQF[zc_password]" value="" required controlTitle="用户密码" dataType="password" >
                            <span class="help-block">用户密码</span></div>
                        </div>
                        
                        <div class="form-group" id="form_group_zc_action_key">
                          <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>身份证号码</label>
                          <div class="col-sm-6 col-md-8 col-xs-12">
                            <input type="password" class="form-control" placeholder="请输确认密码" id="zc_password_chk" name="zc_password_chk" value="" required controlTitle="确认密码" confirm="zc_password" >
                            <span class="help-block">确认密码</span></div>
                        </div>                
                        
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input id="LQFormSubmit" type="button" value="提交" class="btn btn-primary col-lg-1">
                        <div class="btn-group pull-right"><span class="os-record-time">{$LQFdata.os_record_time}</span></div>
                      </div>
                    </div>
                  </form>

                </div>
                </div>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<include file="Public:footer" />
<script type="text/javascript" src="__RES__/js/lib/admin.validator.js"></script>
<script language="javascript">
$(document).ready(function(){
	//保存
	$("#LQFormSubmit").click(function(){
		require(['jquery','layer','ajax.post'], function(){
		var loForm=document.getElementById("LQForm");
		if(adminValidator(loForm)){
			var page_loading=layer.load(0,{shade:[0.1,'#fff']});
			$.post("__CONTROLLER__/editPass/",{ "LQF[id]":$("#id").val(),"LQF[zc_password]":$("#zc_password").val(),"LQF[__hash__]":$("#__hash__").val() },function(json){
			layer.close(page_loading);
			util.sysMsg(json.status,json.msg,json.url);
			});	
		}
		});		
	});
});
</script>
