<include file="Public:header" />

<div class="col-xs-12 col-sm-9 col-lg-10"> 
  <include file="Public:common-current" />
  <form name="{$lq_form_list}" id="{$lq_form_list}" class="form-horizontal" onsubmit="return false">
  <input type="hidden" id="thinkphpurl" name="thinkphpurl" value="{$page_config.thinkphpurl}" />
  <input type="hidden" id="keymode" value="{$search_content.keymode}" />
  <input type="hidden" id="pagesize" value="{$search_content.pagesize}" />
  <div class="clearfix welcome-container">
  	<if condition="$os_lock.search eq '1'">  
    <include file="Public:common-search" />
    <else />
    {/* 在这里放特定搜索 */} 
    
    </if> 
    <div class="row">
      <div class="clearfix template">
        <div class="panel panel-default">
		  <include file="Public:index-list-button" />
          
          <div class="table-responsive panel-body">
            <table class="table table-hover">
              <include file="Public:common-table-thead" />
              <tbody id="list-tbody">
                  <volist name="list" id="data" key="key" empty="$empty_msg">
                    <tr id="{$data.id}" visible="1" opCheck='0'>
                      <td><input type="checkbox" class="checkbox" value="{$data.id}" name="items" /></td>
                      <td align="center">{$data.no}</td>
                      <td>{$data.zc_member_account} / {$data.zc_nickname}</td>
                      <td><a href="{$data.works_list}" title="管理 [{$data.zc_nickname}] 作品"><span class="label label-danger">{$data.count}</span></a></td>
                      <td>{$data.zl_level_label}</td>
                      <td>{$data.zl_good_index_label}</td>
                      <td><a href="javascript:void(0);" op="is_index" val="{$data.zl_is_index}">{$data.zl_is_index_label}</a></td>                       
                      <td class="manage-menu list-os-a">
                      <a href="{$data.works_add}" title="添加 [{$data.zc_nickname}] 作品"><i class="fa fa-image"></i></a>
                      <a href="{$data.works_list}" title="管理 [{$data.zc_nickname}] 作品"><i class="fa fa-navicon"></i></a>
                      <a href="__CONTROLLER__/edit/tnid/{$data.id}" title="编辑 [{$data.zc_nickname}] 信息"><i class="fa fa-edit"></i></a>
                      </td>
                    </tr>
                  </volist>
              </tbody>
            </table>
          </div>
        </div>
        {$page} 
      </div>
    </div>
  </div>
  </form>
  
</div>

<include file="Public:footer" />
