<!DOCTYPE html>
<html>
<head>
    <title>课程申请审核</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="__RES__/js/lib/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="__RES__/plugins/ztree/css/demo.css" type="text/css">
    <link rel="stylesheet" href="__RES__/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="__RES__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__RES__/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__RES__/plugins/ztree/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript" src='__RES__/plugins/layer3/layer.js'></script>

</head>
<body>
<script type="text/javascript">var page_loading=layer.load(0,{shade:[0.1,'#fff']});</script>
<div class="page_box">
    <form name="{$lq_form_save}" id="{$lq_form_save}">
        <input id="tnid" name="LQF[id]" type="hidden" value="{$LQFdata.id}">
        <input id="lesson" name="lesson" type="hidden" value="{$LQFdata.zn_lesson_id}">

        <div class="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td class="title">申请信息</td>
                </tr>
                <tr>
                    <td><h5><i class="fa fa-user"></i> 申请人：</h5></td>
                </tr>
                <tr>
                    <td><div class="txt_input"> {$LQFdata.zn_member_id_label}</div></td>
                </tr>
                <tr>
                    <td><h5><i class="fa fa-lock"></i> 申请课程：</h5></td>
                </tr>
                <tr>
                    <td>
                        <div class="txt_input">{$LQFdata.zn_lesson_id_label}</div>
                    </td>
                </tr>
                <tr>
                    <td><h5><i class="fa fa-calendar"></i> 申请时间：</h5></td>
                </tr>
                <tr>
                    <td><div class="txt_input">{$LQFdata.zn_cdate}</div></td>
                </tr>
                <tr>
                    <td><h5><i class="fa fa-calendar"></i> 审核情况：</h5></td>
                </tr>
                <tr>
                    <td><div class="txt_input">
                        <volist name="status_list" id="status_list">
                            <input type="radio" name="zn_status" id="zn_status" value="{$i}" <if condition="$LQFdata['zn_status'] eq $i">checked</if>> {$status_list}
                        </volist></div>
</td>
                </tr>

                <tr>
                    <td class="button_box"><input id="B1" name="B1" type="button" value=" 保存 "></td>
                </tr>
            </table>
        </div>

    </form>
</div>
</body>
<script language="javascript">
    $(document).ready(function(){

        layer.close(page_loading);//结束页面加载状态

        //保存
        $("#B1").click(function(){
            var chkRadio = $('input:radio[name="zn_status"]:checked').val();
            page_loading = layer.load(0,{shade:[0.1,'#fff']});
            $.post("__CONTROLLER__/apply_window/",{"id":$("#tnid").val(),"status":chkRadio,"lesson":$("#lesson").val()},
                    function(json){
                        layer.msg(json.msg);
                        top.layer.closeAll();
                        parent.location.reload();
                    });
        });

    });
</script>
</html>