<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link rel="shortcut icon" href="__RES__/images/favicon.ico" />
<link href="__RES__/css/images.view.css" rel="stylesheet">
<link href="__RES__/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="__RES__/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__RES__/js/app/lqCommonFun.js"></script>
<script type="text/javascript" src='__RES__/plugins/layer3/layer.js'></script>
</head>

<body>
<script type="text/javascript">page_loading=layer.load(0,{shade:[0.1,'#fff']});</script>
<form name="LQForm" id="LQForm" method="post">
<input type="hidden" id="field" value="{$search_content.field}" />
<input type="hidden" id="returnData" value="{$search_content.returnData}" />
<input type="hidden" id="type" value="{$search_content.type}" />
<input type="hidden" id="checkbox" value="{$search_content.checkbox}" />
<input type="hidden" id="lqid" value="0" />
<input type="hidden" id="lqlabel" value="" />
    
<div class="images_box">
	<div class="search_box">
        <i class="fa fa-search" style="margin-right:5px;"></i>关键字：<input type="text" class="keyword" name="fkeyword" id="fkeyword" value="{$search_content.fkeyword}" onblur="if(this.value=='') this.value='{$keywordDefault}';" onfocus="if(this.value=='{$keywordDefault}') this.value='';"/>
        <input type="button" id="searchButton" class="searchbtn" value="搜索" title="搜索图片"/>
        <input type="button" id="refreshButton" class="searchbtn" value="刷新" title="刷新页面"/>
        <input type="button" id="clearButton" class="searchbtn" value="清空选择" title="清空选择"/> 	
        
        <if condition="$search_content.checkbox eq 1">
        <input type="button" id="choiceButton" class="searchbtn" style="float:right;" value="插入选择的图片" title="插入选择的图片"/>
        </if>        
        
    </div>
	<div class="list_box">
               <if condition="$list|count gt 1">
               <volist name="list" id="data" key="key"> 
                  <div class="block item">
                       <div class="block photo" lqlabel="{$data.zc_nickname}" style="cursor:pointer;" status="0" lqid="{$data.id}">
                       <i class="fa fa-check-square-o" style="color:#F00;"></i>
                       <img src="{$data.headimg}" width="80" height="80" alt="{$data.zc_nickname}">
                       </div>
                       <div class="name" title="{$data.zc_nickname}">{$data.zc_nickname}</div>
                  </div>
               </volist>
               </if> 
    
    </div>
    <div class="lqclear"></div>
    {$page}
</div>

</form>
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
	layer.close(page_loading);//结束页面加载状态
	
	//点击选择
	$(".photo").click(function(){
		$('#lqid').val($(this).attr("lqid"));
		$('#lqlabel').val($(this).attr("lqlabel"));
		top.select_{$url_field}_window($(this).attr("lqid"),$(this).attr("lqlabel")); 		
	    top.layer.closeAll();			
	});
	
	//搜索
	$("#searchButton").click(function(){
		var fkeyword=$("#fkeyword").val();
		if(fkeyword==''|fkeyword=='{$keywordDefault}'){
			layer.msg("请输入关键字...",{icon: 2});
		}else{
					var searchurl='__CONTROLLER__/window/s/';
					var urlpara='';urlpara+="fkeyword/"+encodeURIComponent(fkeyword)+"/";
					urlpara+="field/"+encodeURIComponent($("#field").val())+"/";
					urlpara+="returnData/"+encodeURIComponent($("#returnData").val())+"/";
					urlpara+="checkbox/"+encodeURIComponent($("#checkbox").val())+"/";
					urlpara+="type/"+encodeURIComponent($("#type").val())+"/";
					location.href=searchurl+base64encode(urlpara);
		}
	});
	
	//刷新
	$("#refreshButton").click(function(){location.href='__SELF__';});
	
	//清空图片 s
	$("#clearButton").click(function(){
		$('#lqid').val('0');
		$('#lqlabel').val('已清空');
		top.select_{$url_field}_window(0,'已清空'); 		
	    top.layer.closeAll();		
	});			

});
</script>