<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{:L('MEMBER_TITLE')}</title>
<link rel="shortcut icon" href="__RES__/images/favicon.ico" />
<link href="__RES__/css/bootstrap.min.css" rel="stylesheet">
<link href="__RES__/css/font-awesome.min.css" rel="stylesheet">
<link href="__RES__/css/common.css" rel="stylesheet">
<script type="text/javascript">
if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
}
</script>
<script>var require = { urlArgs: 'v=<php> echo date('YmdH');</php>' };</script>
<script type="text/javascript" src="__RES__/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__RES__/js/app/ucenterCommonFun.js"></script>
<script type="text/javascript" src="__RES__/js/require.js"></script>
<script type="text/javascript" src="__RES__/js/app/config.js"></script>
</head>
<body>