<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:L('PROJECT_TEAM')} - {$tree_label}</title>
<link rel="shortcut icon" href="__RES__/images/favicon.ico" />
<link href="__RES__/css/admin.win380.css" rel="stylesheet">
<link href="__RES__/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="__RES__/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__RES__/js/app/lqCommonFun.js"></script>
<script type="text/javascript" src='__RES__/plugins/layer3/layer.js'></script>
</head>

<body>
<script type="text/javascript">page_loading=layer.load(0,{shade:[0.1,'#fff']});</script>

<div id="winlistbox">
  <form name="lqWinList" id="lqWinList">
	<input type="hidden" id="lqid" value="0" />
	<input type="hidden" id="lqlabel" value="" />
	<div class="selsec_tool"> 
    <span class="fr t_ioc">
    	{$cat_up}
    	<a href="__SELF__" title="刷新"><i class="fa fa-refresh"></i> 刷新</a>
        <a href="javascript:;" title="清空" id="func_clear"><i class="fa fa-times"></i> 清空</a>
    </span>
    </div>
    
	<div class="listbox">
 		<table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>标题</th>
            <th>操作</th>
          </tr>
        </thead>
        
        <tbody>			
            <volist name="list" id="data" key="key">
              <if condition="$data.zl_visible eq 1">
              <tr id="{$data.id}" pid="{$data.fid}"  onmouseout="this.className=''" onmouseover="this.className='tree_overcss'">
              <td>{$data.id}</td>
              <td title="单击树状列表显示隐藏" class="tree" style="cursor: pointer;">{$data.fullname}</td>
              <td title="{$data.label}" class="getdata"><a href="javascript:;" lqid="{$data.id}" lqlabel="{$data.label}">点击选中</a></td>
              </tr> 
              </if>
            </volist>                
        </tbody>
      </table>                
    </div>
  </form>      
</div>

</body>
</html>
<script type="text/javascript" >
$(document).ready(function(){
	layer.close(page_loading);//结束页面加载状态
	
	//点击选择
	$('.getdata a').click(function(){
		$('#lqid').val($(this).attr("lqid"));
		$('#lqlabel').val($(this).attr("lqlabel"));
		top.select_{$url_field}_tree($(this).attr("lqid"),$(this).attr("lqlabel")); 
		top.layer.closeAll();
	});	
	
	//清空内容
	$('#func_clear').click(function(){
		$('#lqid').val('0');
		$('#lqlabel').val('');
		top.select_{$url_field}_tree(0,'已清空'); 
		top.layer.closeAll();
	});	
	
	//树状列表显示隐藏 click
	$(".tree").click(function(){lqTreeDisplay($(this));});

});
</script>