{/* 公共底部 */}

	</div>
</div>
    
<div class="container-fluid footer" role="footer">
  <div class="page-header"></div>
  <span class="pull-left">
  <p>Powered by <a href="#"><b>{:L('PROJECT_TEAM')}</b></a> {:L('PROJECT_COPYRIGHT')} </p>
  </span> 
  <span class="pull-right">
  <p class="label label-info">{__RUNTIME__} </p>
  </span> 
 </div>

<if condition="ACTION_NAME eq 'index'">
<div class="TopBottomMenu">
	<ul>
		<li><a href="/sys-index.php/WebConfig/config" title="系统参数">系统参数</a></li>
		<li><a href="/sys-index.php/videoLive/index" title="直播管理">直播管理</a></li>
		<li><a href="/sys-index.php/videoVod/index" title="点播管理">点播管理</a></li>

	</ul>
</div>
<script type="text/javascript" src="__RES__/js/dwsee.top.bottom.menu.min.js" ></script>
<script type="text/javascript">
$(document).ready(function() {$(this).dwseeTopBottomMenu()})
require(['layer'], function(){layer.photos({photos: '.imgtd',anim: 1});});	
</script>
</if> 
<script type="text/javascript" src="__RES__/js/admin.function.js"></script>
<script>
$(document).ready(function(){
//系统菜单的展示
var top_nav_id=util.cookie.get('top_nav_id');
var left_nav_id=util.cookie.get('left_nav_id');
if(top_nav_id) util.menuDisplay(top_nav_id,left_nav_id);
<php>
if(ACTION_NAME=='index') {
echo "$('#list-tbody tr:odd').addClass('tr_odd');//单双行样式\n";
echo "$('.opStatus').click(function(){util.visible($(this),'__CONTROLLER__/opVisible');});//快捷启用禁用操作\n";
echo "$('.opDelete').click(function(){util.delete($(this),'__CONTROLLER__/opDelete');});//单记录删除操作\n";
echo "$('tbody>tr>td[op]').dblclick(function(){util.ajaxEdit($(this),'__CONTROLLER__');});//单项编辑\n";
echo "$('tbody>tr>td>a[op]').click(function(){util.ajaxPropertyA($(this),'__CONTROLLER__');});//单项属性切换\n";
}
</php>	
	//ajax点击响应href
	$(".getUrl").click(function(){util.getUrl($(this).attr("lqHref"));});
	//顶部菜单展示
	$("#top-nav a").click(function(){
		top_nav_id=$(this).attr("lqid");
		$("#top-nav").find("li").removeClass("active");
		if(top_nav_id){
			if(top_nav_id==0){
				 util.R(0,"{:U('Index/index')}");
				$("#left-menu-2").css({"display":"block"});
				return;
			}
			util.cookie.set('top_nav_id',top_nav_id);
			$("#left-menu").find(".left-menu").css({"display":"none"});
			$("#left-menu-"+top_nav_id).css({"display":"block"});
		}
	});
	//左则菜单焦点记录
	$(".list-group-item").click(function(){
		var lcHref=$(this).attr("lqHref");
		if(typeof lcHref!='undefined'){
		 util.openWin(lcHref,$(this).attr("kw"),'80%','80%');
		}else{
		 left_nav_id=$(this).attr("lqid");util.cookie.set('left_nav_id',left_nav_id);$(this).addClass("active");
		}
	});	
});
</script>
</body>
</html>