<include file="Public:header" />

<div class="col-xs-12 col-sm-9 col-lg-10"> 
  <include file="Public:common-current" />
  <form name="{$lq_form_list}" id="{$lq_form_list}" class="form-horizontal" onsubmit="return false">
  <input type="hidden" id="thinkphpurl" name="thinkphpurl" value="{$page_config.thinkphpurl}" />
  <input type="hidden" id="keymode" value="{$search_content.keymode}" />
  <input type="hidden" id="pagesize" value="{$search_content.pagesize}" />
  <div class="clearfix welcome-container">
  	<if condition="$os_lock.search eq '1'">  
    <include file="Public:common-search" />
    <else />
    {/* 在这里放特定搜索 */} 
    
            <div class="clearfix">
              <div class="panel panel-info">
                <div class="panel-body" style="position:relative;">
                    <div class="lq-panel-body-title"><span class="btn"><i class="fa fa-paw"></i> 筛选</span></div>
                    <div class="form-group">
                      <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">搜索</label>
                      <div class="col-sm-8 col-lg-10 col-xs-12">
                        <div class="input-group">
                          <input type="text" class="form-control" id="fkeyword" value="{$search_content.fkeyword}" placeholder="{$keywordDefault}" onclick="lqKeywordOnclick(this)" onblur="lqKeywordOnblur(this)"/>
                          <div class="input-group-btn">
                            <button class="btn btn-default" id="listSearch"><i class="fa fa-search"></i> 搜索</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="javascript:;" onclick="$('#fkeyword').attr('placeholder','精准搜索：请输入关键字');$('#keymode').val(1);">精准搜索</a></li>
                            <li><a href="javascript:;" onclick="$('#fkeyword').attr('placeholder','模糊搜索：请输入关键字');$('#keymode').val(0);">模糊搜索</a></li>
                            <li><a href="javascript:;" class="bySearch" lqid="1">按风格搜索</a></li>
                            <li><a href="javascript:;" class="bySearch" lqid="2">按户型搜索</a></li>
                            <li><a href="javascript:;" class="bySearch" lqid="3">按面积搜索</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
			<script language="javascript">  
			$(".bySearch").click(function(){	
				var searchurl=$("#thinkphpurl").val()+'index/s/';
				urlpara="type/"+encodeURIComponent($(this).attr("lqid"))+"/";
				location.href=searchurl+base64encode(urlpara);
			});
            $(function(){
                //通用搜索
                $("#listSearch").click(function(){	
                    require(['layer'], function(){
						var fkeyword=$("#fkeyword").val();
						if(fkeyword!='{$keywordDefault}'){
							var searchurl=$("#thinkphpurl").val()+'index/s/';
							var urlpara="fkeyword/"+encodeURIComponent(fkeyword)+"/";
							urlpara+="keymode/"+encodeURIComponent($("#keymode").val())+"/";
							urlpara+="pagesize/"+encodeURIComponent($("#pagesize").val())+"/";
							location.href=searchurl+base64encode(urlpara);
						}else{
							layer.msg("请输入搜索条件！",{icon:5,time:2000});
						}					
                    });			
                });
            });
            </script>     
    </if> 
    <div class="row">
      <div class="clearfix template">
        <div class="panel panel-default">
		  <include file="Public:index-list-button" />
          
          <div class="table-responsive panel-body">
            <table class="table table-hover">
              <include file="Public:common-table-thead" />
              <tbody id="list-tbody">
                  <volist name="list" id="data" key="key" empty="$empty_msg">
                    <tr id="{$data.id}" visible="{$data.zl_visible}" opCheck='0'>
                      <td><input type="checkbox" class="checkbox" value="{$data.id}" name="items" /></td>
                      <td align="center">{$data.no}</td>
                      <td align="center">{$data.id}</td>
                      <td>{$data.zn_type_label}</td>
                      <td edit="0" op="label" title="{:L('ALT_BUTTON_EDIT_LABEL')}">{$data.zc_caption}</td>
                      <td edit="0" op="sort" title="{:L('ALT_BUTTON_EDIT_SORT')}">{$data.zn_sort}</td>
                      <td>{$data.visible_label}</td>
                      <td class="manage-menu list-os-a">
                      <a href="__CONTROLLER__/edit/tnid/{$data.id}" title="{:L("LABEL_OS_EDITID")}[{$data.id}]"><i class="fa fa-edit"></i></a>
             		  <a href="javascript:void(0);" class="opStatus" val="{$data.zl_visible}" title="{:L("LABEL_OS_STATUS")}[{$data.id}]">{$data.visible_button}</a>
                      <a href="javascript:;" class="opDelete" title="{:L("LABEL_OS_DEL")}[{$data.id}]"><i class="fa fa-times-circle"></i></a>
                      </td>
                    </tr>
                  </volist>
              </tbody>
            </table>
          </div>
        </div>
        {$page} 
      </div>
    </div>
  </div>
  </form>
  
</div>

<include file="Public:footer" />
