<include file="Public:header" />

<div class="col-xs-12 col-sm-9 col-lg-10"> 
  <div class="clearfix welcome-container">
    <div class="row">
      <div class="clearfix template">
        <div class="panel panel-default">
        
            <div class="panel-body">
                <span><i class="fa fa-list-ol"></i> {$sys_heading} </span>
                <div class="btn-group pull-right">
                  <span class="label label-danger blink" id="os_warning" style="font-size:1em;display:none;padding:6px 10px; "> 请操作 <i class="fa fa-hand-o-right"></i></span>
                  <button type="button" data-toggle="dropdown" id="os_button"> <i class="fa fa-chevron-down"></i> 操作 </button>
                  <ul class="dropdown-menu slidedown" id="os_button_list">
                    <li> <a href="javascript:;" title="{:L('ALT_BUTTON_SAVE_RECORD')}" id="aFormSubmit"> <i class="fa fa-floppy-o"></i> 保存数据 </a> </li>
                    <li class="divider"></li>
                    <li> <a href="" title="刷新本页"> <i class="fa fa-refresh"></i> 刷新本页 </a> </li>
                    <li class="divider"></li>
                  </ul>
                </div>
            </div>
          
            {$LQFdata}
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<include file="Public:footer" />
<script type="text/javascript" src="__RES__/js/lib/admin.validator.js"></script>
<script type="text/javascript">
function wordCount(obj){var chars=obj.value;$("#word_count_"+obj.id).html("输入了"+chars.length+"个字");} 
$(document).ready(function(){
     //公共表单提交
	 $("#LQFormSubmit,#aFormSubmit").click(function(){
		var loForm=document.getElementById("LQForm");
		if(adminValidator(loForm)){util.commonAjaxSubmit();}
		return false;
	 });
});
</script>